DATABASE_S_HOST=database_host
DATABASE_S_PORT=database_port
DATABASE_S_USER=database_user
DATABASE_S_PASSWORD=database_password
DATABASE_S_NAME=database_name

DATABASE_S_MIN_SIZE=database_min_size
DATABASE_S_MAX_SIZE=database_max_size